[submodule "calculus"]
	path = calculus
	url = git@github.com:HastinKapoor/calculus.git
[submodule "bpf-arena-data-structures"]
	path = bpf-arena-data-structures
	url = git@github.com:sohambagchi/bpf-arena-data-structures.git
