[submodule "calculus"]
	path = calculus
	url = https://github.com/HastinKapoor/calculus.git
	branch = artifact-eval
[submodule "bpf-arena-data-structures"]
	path = bpf-arena-data-structures
	url = https://github.com/sohambagchi/bpf-arena-data-structures.git
	branch = main
